/*¿ Declaración de fuentes -------------------------------------------------------------------------------------------*/
@font-face {
    font-family: "title";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "text";
    src: url("../fonts/IstokWeb-Regular.ttf");
}
@font-face {
    font-family: "fancy";
    src: url("../fonts/Lora-Regular.ttf");
}
/*¿ Formatos de texto generales*/
.investigadorN{
    font-family: "title", Verdana, Tahoma, sans-serif;
    font-size: 17px;
    text-align: center;
}
.divulgadorN{
    font-family: "title", Verdana, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
}
.ocupation{
    font-family: "fancy", Georgia, Times, serif;
    font-size: 14px;
    text-align: center;
}
.Descript{
    font-family: "text", 'Trebuchet MS', 'Lucida Sans', sans-serif;
    color: black;
    font-size: 15px;
}
/*¿ Estilo general ------------------------------------------------------------------------------------------*/
body{
    background-color: #351459;
}
header{
    box-sizing: content-box;
    padding: 2vh 5vw 1vh 5vw;
    margin: -25px -25px 0 -20px;
    font-family: "title", Verdana, Tahoma, sans-serif;
    text-align: right;
    background-color: #191F91;
    color: #21CCBD;
    background: linear-gradient(180deg, rgba(25,31,145,1) 50%, rgba(53,20,89,1) 100%); 
}
nav{
    box-sizing: content-box;
    width: 80%;
    height: 150px;
    position: relative;
    left: 10%;
    overflow-wrap: normal;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 0 0 0;
    margin: 20px 20px 20px 20px;
    font-family: "title", Verdana, Tahoma, sans-serif;
    background-color: #191F91;
    border: #21CCBD 6px solid;
}
/*¿ Estilo de las secciones principales----------------------------------------------------------------*/
.navegation{
    position: relative;
    top: 0;
    cursor: pointer;
    display: inline-block;
    height: 150px;
    margin: 0 0 0 0;
}
.hotTopic{
    overflow-wrap: break-word;
    width: 75%;
    height: 450px;
    box-sizing: border-box;
    margin: 5vh 2vw 5vh 1vw;
    padding: 10px 0px 10px 30px;
    border: #21CCBD 8px solid;
    border-radius: 50px;
    background-color: #191F91;
    float: left;
}
#discussion{
    background-color: #0D124D;
    float: right;
    width: 30%;
    height: 100%;
    overflow-wrap: break-word;
    overflow-y: scroll;
    border-left: #21CCBD 8px solid;
    border-radius: 0 50px 50px 0;
}
.articles{
    overflow-wrap: break-word;
    overflow-y: scroll;
    width: 75%;
    height: 1000px;
    box-sizing: border-box;
    margin: 5vh 2vw 10vh 1vw;
    padding: 0 0 0 0;
    border: #21CCBD 4px solid;
    border-radius: 50px;
    background-color: #191F91;
}
/*¿ Barra lateral de perfiles de científicos*/
.scientists{
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    overflow-y: scroll;
    top: 17em;
    left: 76%;
    float: right;
    width: 23%;
    height: 1400px;
    padding: 3vh 3vh 3vh 3vh;
    margin: 5vh 2vw 5vh 1vw;
    background-color: #36A2F5;
    border: 8px solid #21CCBD;
    border-radius: 50px;
}
/*¿ Estilos de los artículos*/
.indArt{
    box-sizing: border-box;
    overflow-wrap: inherit;
    padding: 10px 30px 10px 30px;
    width: 100%;
    height: 600;
    border: inherit;
}
.artTitle, #Name{
    font-family: "title", Verdana, Tahoma, sans-serif;
    color: white;
    width: 68%;
    height: 5%;
}
.authorNscience{
    font-family: "fancy", Georgia, Times, serif;
    color: white;
    width: 68%;
    height: 5%;
}
.articleDescription, #biography{
    font-family: "text", 'Trebuchet MS', 'Lucida Sans', sans-serif;
    color: white;
    width: 68%;
}
.profile{
    width: 100%;
}
.scProfile
{
    position: relative;
    left: 5%;
    width: 90%;
    border-radius: 185px; 
}
/*¿ Estilos de la vista de artículos*/
.thinArticles{
    overflow-wrap: break-word;
    overflow-y: scroll;
    width: 45%;
    height: 1600px;
    box-sizing: border-box;
    margin: 5vh 2vw 10vh 1vw;
    padding: 0 0 0 0;
    border: #21CCBD 4px solid;
    border-radius: 50px;
    background-color: #191F91;
}
#arts{
    margin-top: 1700px;
}
#colIzq{
    float: left;
}
#colDer{
    float: right;
}
/*¿ Estilos de la sección de perfíl de investigador*/
.invest{
    height: 1400px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    width: 72%;
    box-sizing: border-box;
    margin: 5vh 2vw 10vh 1vw;
    padding: 0 0 0 0;
    border: #21CCBD 4px solid;
    border-radius: 50px;
    background-color: #191F91;
}
.work{
    height: 30px;
}
#biography, #Name{
    padding: 2% 4% 2% 4%;
    width: 65%;
}
#imgProfile{
    height: 200px;
    float: right;
}
/*¿ elementos del footer-------------------------------------------------------*/
.footer{
    /*position: absolute;
    bottom: 0;*/
    box-sizing: content-box;
    font-size: 12px;
    height: 180px;
    padding: 3vh 4vw 1vh 4vw;
    margin: -25px -25px -20px -20px;
    font-family: "text", 'Trebuchet MS', 'Lucida Sans', sans-serif;
    background-color: #191F91;
    color: #21CCBD;
    background: linear-gradient(0deg, rgba(25,31,145,1) 50%, rgba(53,20,89,1) 100%); 
}
#feet1, #feet2{
    width: 33%;
    float: left;
    margin: 1vw 1vh 1vw 1vh;
}
#feet3{

    width: 33%;
    float: right;
    margin: 1vw 1vh 1vw 1vh;
}
