<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Divulgadores</title>
        <link rel="stylesheet" href="../statics/styles/mainStyle.css">
    </head>
    <body>
        <header><h1>World Science</h1></header> 
        <nav>
            <img class="navegation" src="../statics/img/Mathematics_0.jpg" alt="math">
            <img class="navegation" src="../statics/img/chemistry.jpg" alt="química">
            <img class="navegation" src="../statics/img/phisics.jpg" alt="física">
            <img class="navegation" src="../statics/img/biology.jpg" alt="biología">
            <img class="navegation" src="../statics/img/Psicologia.jpg" alt="psicología">
        </nav>
        <div class="invest">
            <div id="scient">
                <h3 id="Name">Javier Santaolalla | Divulgador</h3>
                <img class="work" src="../statics/img/YouTube_icon_(2013-2017).png" alt="yutu">
                <img class="work" src="../statics/img/images.png" alt="cern">
                <p id="biography">Descripción y resúmen de su trayectoria (Escrita por la misma persona, pero con fines de demostración se plasmara un fragmento de wikipedia).

                    “Javier Santaolalla Camino (Burgos, España; 31 de agosto de 1982) es un físico, ingeniero, doctor en física de partículas y divulgador científico español. Ha trabajado en el Centro Nacional de Estudios Espaciales en Francia, el CIEMAT y la Organización Europea para la Investigación Nuclear, donde vivió el descubrimiento del bosón de Higgs a través del Experimento CMS del gran colisionador de hadrones.”​
                </p>
                <img id="imgProfile" src="../statics/img/javier-santaolalla.jpg" alt="Date un Voltio">
            </div>
            <div class="indArt">
                <h3 class="artTitle">Artículo (De divulgación o investigación) Autor/a | Ciencia o área del conocimiento Descripción del artículo, puntos clave y objetivos del mismo</h3>
                <h4 class="authorNscience">Autor/a | Ciencia o área del conocimiento</h4>
                <p class="articleDescription">Descripción del artículo, puntos clave y objetivos del mismo</p>
                <div class="artImg">
                    <img class="example" src="../statics/img/Wolf.jpg" alt="example wolf" width="370">
                </div>
            </div>
        </div>
        <div class="footer">
            <p class="feet" id="feet1">Redes y contacto Enlace a Instagram Enlace a Twitter Enlace a Facebook Correo de contacto Número de teléfono</p>
            <p class="feet" id="feet2">Más sitios de divulgación Enlace a Sitio Enlace a Sitio Enlace a Sitio</p>
            <p class="feet" id="feet3">Medios de donación y contribuicion</p>
        </div>
        <aside class="scientists">
            <div class="profile">
                <img class="scProfile" src="../statics/img/Crespo.jpg" alt="Qfracture">
                <p class="divulgadorN">José Luis Crespo | Quantum Fracture</p>
                <p class="ocupation">Divulgador en física</p>
                <p class="Descript">Texto de descripción para un artículo o publicación reciente y/o popular</p>
            </div>
            <div class="profile">
                <img class="scProfile" src="../statics/img/ElviraMayordomo.png" alt="Elvira Mayordomo">
                <p class="investigadorN">Elvira Mayordomo</p>
                <p class="ocupation">Científica de la computación</p>
                <p class="Descript">Texto de descripción para un artículo o publicación reciente y/o popular</p>
            </div>
            <div class="profile">
                <img class="scProfile" src="../statics/img/Sandra-Ortonobes.jpg" alt="Hiperactina">
                <p class="divulgadorN">Sandra Ortonobes | La hiperactina</p>
                <p class="ocupation">Divulgadora en biomedicina</p>
                <p class="Descript">Texto de descripción para un artículo o publicación reciente y/o popular</p>
            </div>
            <div class="profile">
                <img class="scProfile" src="../statics/img/Alcubierre.jpeg" alt="Alcubierre">
                <p class="investigadorN">Javier Alcubierre</p>
                <p class="ocupation">Físico teórico</p>
                <p class="Descript">Texto de descripción para un artículo o publicación reciente y/o popular</p>
            </div>
            <div class="profile">
                <img class="scProfile" src="../statics/img/rocio-vidal.jpg" alt="gataSchrödinger">
                <p class="divulgadorN">Rocío Vidal | La gata de Schrödinger </p>
                <p class="ocupation">Divulgadora en física</p>
                <p class="Descript">Texto de descripción para un artículo o publicación reciente y/o popular</p>
            </div>
        </aside>
    </body>
</html>